.add_content{
    background-color: rgb(253, 194, 121);
    margin: 5rem;
    border-radius: 10px;
    padding-bottom: 0.1rem;
}
h1{
    text-align: center;
}
.button{
    display: grid;
    justify-content: center;
    margin: 1rem;
}
.button button{
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, yellow, aqua);
}

.content_add_note{
    display: grid;
    grid-template-columns: 50% 50%;
}
.markdown{
    width: 98.7%;
    height: 60.5vh;
    background: white;
    border: 3px solid gray;
}